html {
  color: #DEDCE5;
  text-align: center;
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  min-height: 100vh;
}

p {
  font-family: 'Jura', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

h2 {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 45px;
}

h2 {
  font-size: 20px;
}

a {
  color: white;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

a:hover {
  background-color: white;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.agency-list {
  border: 1px solid white;
  margin: 15px;
  width: 250px;
  height: 120px;
  padding: 25px;
  position: relative;
  background-color: rgba(0,0,0,.7);
}

.badge {
  position: absolute;
  right: -10px;
  top: -9px;
  color: #0F0B0D;
  padding: 0px 5px;
  line-height: 1px;
  border-radius: 20%;
}

.badge-Jedi {
  background-color: #0942ED;
  color: white;
}

.badge-Padawan {
  background-color: #18C825;
  color: black;
}

.badge-Master {
  background-color: #B50104;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgba(0,0,0,.7);
  width: 500px;
  margin-top: 20px;
  padding: 10px;
}

label > .lg-input {
  height: 50px;
  border-radius: 5px;
}

label > .sm-input {
  height: 25px;
  border-radius: 5px;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5px;
  font-size: 16px;
  padding: 5px;
  font-style: italic;
}

label > * {
  margin: 5px 0;
  font-family: 'Jura', sans-serif;
  font-size: 15px;
}

.search-bar {
  margin-top: 25px;
  padding: 5px;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 50%;
}

.btn-flat {
  color: white;
  margin-top: 20px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #18C825;
  transition: background 0.3s ease;
  font-family: 'Audiowide', cursive;
  font-size: 15px;
}

.btn-flat:hover {
  background: #A1DA85;
  color: white;
}
