html {
  background-color: #0F0B0D;
  color: #DEDCE5;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: DEDCE5center;
  margin: 1rem;
}

h2 {
  font-size: 20px;
}

a {
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.agency-list {
  border: 1px solid white;
  margin: 10px;
  width: 250px;
  height: 100px;
  padding: 25px;
  position: relative;
}

.badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #DEDCE5;
  color: #0F0B0D;
  padding: 0px 5px;
  line-height: 1px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5px;
  font-size: 14px;
  padding: 5px;
}

label > * {
  margin: 5px 0;
}
